.navbar-style {
    position: fixed;
    width: 100%;
    z-index: 999 !important;
}
.nav-item {
    margin: 0 20px;
}
.hash-link-style {
    text-decoration: none;
    color: white;
}
.hash-link-style:hover {
    color: lightgreen;
}