body > #root > div {
  height: 100vh;
}
.dark-bg {
  background-color: #252934;
}
.text-brand {
  color: #252934;
}
.intro-font {
  font-size: 45px;
}
.height-100 {
  height: 100%;
}
.nav-item a {
  margin: 0 20px;
}
.about-bg {
  background-color: #00CBCA;
}